body
    font: 400 17px Arial
    color: #333

a
    color: #548eaa
    &:hover
        color: #487284

td, th
    padding: 3px 10px
    border: solid 1px #D5DDDF
    text-align: left

table
    width: 100%

input[type='text']
    font: inherit
    color: inherit
    font-weight: normal
    padding: 5px 10px
    width: 50%
    box-sizing: border-box

.page_orders
    &__table
        border-spacing: 0
        border-collapse: separate

        thead
            th.reversed
                span
                    transform: scaleY(-1)
                    display: inline-block
                    vertical-align: middle

        &__head
            &__search
        &__body

            &__amount
                text-align: right

        tfoot
            td
                background: rgba(0, 0, 0, 0.8)
                color: #fff
                border: solid 1px #eee
                padding: 10px


    &__user_details
        max-height: 0
        overflow-y: hidden;
        transition: all .5s ease-in

        &.active
            max-height: 400px
            transition: all 1s ease-out

        &__link
            &.active
                color: #6ab5d5
                cursor: hand
                c\ursor: pointer

        &__image
            width: 100px
            height: 100px