<style>
    {{ styles }}
</style>

<div class="page_orders__table">
<table class="page_orders__table">
    <thead>
        <tr class="page_orders__table__head__rates">
            <th>Rates:</th>
            <th colspan="6">
                {% for symbol,rate in rates.rates %}
                <a href="{{ makeUrlParams({rate:symbol}) }}" class="page_orders__rate__link{% if currentRate === symbol %} active{% endif %}">{{ symbol }}</a>
                {% endfor %}
            </th>
        </tr>
        <tr class="page_orders__table__head__search">
            <th>Search:</th>
            <th colspan="6"><input type="text" id="search" value="{{ searchString }}"></th>
        </tr>
        {% if orders.length %}
        <tr>
            <th class="page_orders__table__head__trans_id{% if sortMode == 'transaction_id' %} active{% if isSortingReversed %} reversed{% endif %}{% endif %}">
                <a href="{{ makeUrlParams({sort:'transaction_id', reversed: reversedSorting}) }}" title="Sort by Transaction ID">Transaction ID</a>
                {% if sortMode == 'transaction_id' %} <span>&#8595;</span>{% endif %}
            </th>
            <th class="page_orders__table__head__user_info{% if sortMode == 'user_info' %} active{% if isSortingReversed %} reversed{% endif %}{% endif %}">
                <a href="{{ makeUrlParams({sort:'user_info', reversed: reversedSorting}) }}" title="Sort by User Info">User Info</a>
                {% if sortMode == 'user_info' %} <span>&#8595;</span>{% endif %}
            </th>
            <th class="page_orders__table__head__date{% if sortMode == 'order_date' %} active{% if isSortingReversed %} reversed{% endif %}{% endif %}">
                <a href="{{ makeUrlParams({sort:'order_date', reversed: reversedSorting}) }}" title="Sort by Order Date">Order Date</a>
                {% if sortMode == 'order_date' %} <span>&#8595;</span>{% endif %}
            </th>
            <th class="page_orders__table__head__amount{% if sortMode == 'order_amount' %} active{% if isSortingReversed %} reversed{% endif %}{% endif %}">
                <a href="{{ makeUrlParams({sort:'order_amount', reversed: reversedSorting}) }}" title="Sort by Order Amount">Order Amount</a>
                {% if sortMode == 'order_amount' %} <span>&#8595;</span>{% endif %}
            </th>
            <th class="page_orders__table__head__card_number">
                Card Number
            </th>
            <th class="page_orders__table__head__card_type{% if sortMode == 'card_type' %} active{% if isSortingReversed %} reversed{% endif %}{% endif %}">
                <a href="{{ makeUrlParams({sort:'card_type', reversed: reversedSorting}) }}" title="Sort by Card Type">Card Type</a>
                {% if sortMode == 'card_type' %} <span>&#8595;</span>{% endif %}
            </th>
            <th class="page_orders__table__head__location{% if sortMode == 'location' %} active{% if isSortingReversed %} reversed{% endif %}{% endif %}">
                <a href="{{ makeUrlParams({sort:'location', reversed: reversedSorting}) }}" title="Sort by Location">Location</a>
                {% if sortMode == 'location' %} <span>&#8595;</span>{% endif %}
            </th>
        </tr>
        {% endif %}
    </thead>
    <tbody>
        {% for order in orders %}
        <tr id="order_{{ order.id }}">
            <td class="page_orders__table__body__trans_id">{{ order.transaction_id }}</td>
            <td class="page_orders__table__body__user_info" data-userId="{{ order.user_id}}">
                <a href="" title="{{ order.user.getUserNameWithPrefix() }}" class="page_orders__user_details__link" data-user_id="{{ order.user_id }}">{{ order.user.getUserNameWithPrefix() }}</a>
                <div class="page_orders__user_details user-details" id="{{ order.user_id }}">
                    <p>Birthday: {{ order.user.birthday|format("DD/MM/YYYY")}}</p>
                    {% if order.user.avatar %}<p><img src="{{ order.user.avatar }}" class="page_orders__user_details__image"></p>{% endif %}
                    <p>Company: <a href="{{ order.user.company.url }}" title="{{ order.user.company.title }}" target="_blank">{{ order.user.company.title }}</a></p>
                    {% if order.user.company.industry or order.user.company.sector %}
                    <p>Industry: {{ order.user.company.industry }} 
                    {% if order.user.company.industry and order.user.company.sector %} / {% endif %}
                    {{ order.user.company.sector }}</p>
                    {% endif %}
                </div>
            </td>
            <td class="page_orders__table__body__date">{{ order.created_at|format("DD/MM/YYYY hh:mm:ss") }}</td>
            <td class="page_orders__table__body__amount">
                {{ order.total  }} <span class="page_orders__table__body__amount__currency">{{ currentRate }}</span>
            </td>
            <td class="page_orders__table__body__card_number">{{ order.card_number|shieldCard }}</td>
            <td class="page_orders__table__body__card_type">{{ order.card_type }}</td>
            <td class="page_orders__table__body__location">{{ order.order_country }} ({{ order.order_ip }})</td>
        </tr>
        {% else %}
        <tr>
            <td colspan="7">Nothing found</td>
        </tr>
        {% endfor %}
    </tbody>
    {% if orders.length %}
    <tfoot>
        <tr>
            <td colspan="6">Orders Count</td>
            <td>{{ statistics.ordersCount }}</td>
        </tr>
        <tr>
            <td colspan="6">Orders Total</td>
            <td>{{ getPrice(statistics.ordersTotal) }} {{ currentRate }}</td>
        </tr>
        <tr>
            <td colspan="6">Median Value</td>
            <td>{{ getPrice(statistics.ordersMedianValue) }} {{ currentRate }}</td>
        </tr>
        <tr>
            <td colspan="6">Average Check</td>
            <td>{{ getPrice(statistics.ordersAverageCheck) }} {{ currentRate }}</td>
        </tr>
        <tr>
            <td colspan="6">Average Check (Female)</td>
            <td>{{ getPrice(statistics.ordersAverageCheckFemale) }} {{ currentRate }}</td>
        </tr>
        <tr>
            <td colspan="6">Average Check (Male)</td>
            <td>{{ getPrice(statistics.ordersAverageCheckMale) }} {{ currentRate }}</td>
        </tr>
    </tfoot>
    {% endif %}
</table>